*{
	margin: auto;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	max-width: 1366px;
}
.clear{
	clear: both;
}

.topo img{
	width: 100%;
	max-width: 1366px;
	margin-top: -50px;
}
.menu-mobile li{
	position: relative;
	top: 20px;
	display: inline-block;
	padding-right: 50px;
}
.menu-mobile a{
	color: white;
	font-size: 25px;
	font-weight: ;
	text-decoration: none;
}
.menu-mobile{
	float: right;
	clear: both;
}
.menu-desktop{
	float: right;
	clear: both;
}
.menu-desktop li{
	position: relative;
	top: 20px;
	display: inline-block;
	padding-right: 50px;
}
.menu-desktop a{
	color: white;
	font-size: 25px;
	font-weight: ;
	text-decoration: none;
}
.contato{
	width: 100%;
	position: relative;
	top: -530px;
}
.texto-contato{
	padding-top: 180px;
	padding-right: 50px;
	display: inline-block;
	width: auto;
	float: right;
	clear: right;
}
.contato h2{
	display: block;
	text-align: left;
	color: white;
	
	font-size: 30px;
}
.lista2{
	text-align: left;
	font-size: 23px;
	color: white;
}
.lista2 ul{
	padding-top: 20px;
}
.lista2 ul li{
	list-style-type: none;
	font-size: 35px;
	margin-top: 10px;
}
.lista2 p{
	position: relative;
	top: -8px;
	display: inline-block;
}
.form{
	float: left;
	clear: left;
	display: inline-block;
	width: 30%;
	margin-left: 50px;
	height: auto;
	padding: 1%;
}

.form label{
	display: block;
	font-size: 23px;
	text-align: left;
	color: white;
	margin-top: 10px;
}
.form input[type=text]{
	width: 100%;
	height: 30px;
	font-size: 17px;
	margin-top: 10px;
}
.form input[type=submit]{
	width: 30%;
	height: 30px;
	margin-top: 20px;
}
.form textarea{
	display: block;
	margin-top: 30px;
	width: 100%;
	height: 150px;
	font-size: 17px;
	resize: none;
}
.autoplay{
	position: relative;
	top: -400px;
	/*background-color: black;*/
	width: 90%;
	margin: 0 5%;
}
.autoplay img{
	margin-left: 100px;
}
.usuario{
	position: relative;
	top: -300px;
	width: 100%;
	padding: 20px 0;
	color: white;
	background-color: #310034;
	font-style: italic;
}
.usuario-foto{
	display: inline-block;
	background-image: url('../img/jhonnatas.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
	float: left;
	clear: left;
	margin-left: 5%;
	background-color: red;
	border-radius: 50%;
}
.usuario-descricao{
	display: inline-block;
	float: right;
	clear: right;
	margin-right: 5%;
	width: 60%;
	height: 300px;
}
.usuario-descricao h2{
	padding: 30px 0;
	text-align: center;
	font-size: 30px;
}
.usuario-descricao p{
	text-align: center;
	font-size: 20px;
}
.btn1-texto{
	background-color: #FF703D;
	width: 350px;
	height: 44px;
	color: white;
	cursor: pointer;
	margin: 30px 27%;
	text-align: center;
	line-height: 44px;
	border-radius: 30px;
	font-size: 15px;
}
.btn1-texto a{
	text-decoration: none;
	color: white;
}
.usuario2{
	position: relative;
	top: -150px;
	width: 100%;
	padding: 20px 0;
	color: white;
	background-color: #310034;
	font-style: italic;
}
.usuario-foto2{
	display: inline-block;
	background-image: url('../img/perfil.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
	float: right;
	clear: right;
	margin-right: 5%;
	background-color: red;
	border-radius: 50%;
}
.usuario-descricao2{
	display: inline-block;
	float: left;
	clear: left;
	margin-left: 5%;
	width: 60%;
	height: 300px;
}
.usuario-descricao2 h2{
	padding: 30px 0;
	text-align: center;
	font-size: 30px;
}
.usuario-descricao2 p{
	text-align: center;
	font-size: 20px;
}
footer{
	width: 95%;
	margin: 10px 3%;
	border-top: 3px solid #560b57;
	padding-top: 30px;
}
footer img{
	width: 200px;
	height: 60px;
	margin-left: 42%;
}
footer p{
	text-align: center;
	font-size: 17px;
}
@media screen and (min-width: 1024px) and (max-width: 1180px){
		.btn1-texto{
		margin: 0 auto;
		margin-top: 19px;
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 375px) and (max-width: 1024px){
	.menu-desktop{
		display: none;
	}
	.menu-desktop a{
		font-size: 22px;
	}
	.contato{
		width: 100%;
		position: relative;
		top: -300px;
	}
	.texto-contato{
		padding-right: 0px;
		display: block;
		width: 100%;
		float: none;
	}
	.contato h2{
		display: block;
		text-align: center;
		font-size: 15px;
	}
	.lista2{
		text-align: center;
		font-size: 15px;
	}
	.lista2 img{
		width: 20px;
		height: 20px;
	}
	.lista2 ul li{
		font-size: 15px;
		padding-left: 5px;
		margin-top: 0px;
		display: inline-block;
	}
	.lista2 p{
		top: -5px;
	}
	.form{
		float: none;
		display: block;
		width: 90%;
		margin-left: 0px;
		margin: 0 auto;
		margin-top: 20px;
		padding: 1%;
	}
	.form label{
		display: block;
		font-size: 15px;
		text-align: center;
		color: black;
		margin-top: 10px;
	}
	.form input[type=text]{
		font-size: 15px;
		margin-top: 10px;
	}
	.form textarea{
		display: block;
		width: 100%;
		font-size: 15px;
	}
	.autoplay{
		visibility: hidden;
	}
	.usuario-foto{
		display: block;
		float: none;
		margin-left: 0%;
		margin: 0 auto;
	}
	.usuario-descricao{
		display: block;
		float: none;
		clear: right;
		margin-right: 0%;
		width: 100%;
		height: auto;
	}
	.usuario-foto2{
		display: block;
		float: none;
		margin-right: 0%;
		margin: 0 auto;
	}
	.usuario-descricao2{
		display: block;
		float: none;
		margin-left: 0%;
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
	.btn1-texto{
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 500px) and (max-width: 1024px){
	.menu-desktop{
		display: block;
	}
	.menu-desktop a{
		font-size: 20px;
	}
	.contato h2{
		font-size: 20px;
	}
	.lista2{
		font-size: 20px;
	}	
}







